---
import Footer from "../components/Footer.astro";
import Header from '../components/Header.astro';
import BlogPost from '../components/BlogPost.astro';

import "../styles/global.css"

const pageTitle = "blog post"
const pageDescription = "My Astro Learning Blog"
// enrutamiento dinamico
//  Astro.glob()=>  devolverá un array de objetos, uno por cada entrada del blog.
const allPosts = await Astro.glob('../pages/posts/*.md');


---
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{pageTitle}</title>
</head>
<body>
  <Header/>

  <h1>{pageDescription}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {// el map de  allposts crea la ruta de cada post
      allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

  </ul>
  <Footer/>
  <script>
    import "../scripts/menu.js";
  </script>
</body>

</body>
